<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Backend Ninja - Signin</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet"/>

    <link href="#" th:href="@{/css/contact.css}" rel="stylesheet"/>

</head>

<body>

<div class="container">

    <h1>Hello, <span th:text="${username}"></span>! </h1>
    <br/>
    <div th:if="${result == 1}" class="alert alert-success" role="alert">Funtionalid successfully!</div>
    <div th:if="${result == 0}" class="alert alert-danger" role="alert">Funtionalid Not successfully!</div>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Telephone</th>
                <th>City</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody th:each="contact : ${contacts}">
            <tr>
                <td th:text="${contact.firstName}"></td>
                <td th:text="${contact.lastName}"></td>
                <td th:text="${contact.telePhone}"></td>
                <td th:text="${contact.city}"></td>
                <td>
                    <a href="#" th:href="@{/contacts/contactForm?id=__${contact.id}__}">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"
                                                                            aria-hidden="true"></span></button>
                    </a>
                    <a href="#" th:href="@{/contacts/remove?id=__${contact.id}__}">
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"
                                                                           aria-hidden="true"></span></button>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <a href="#" th:href="@{/contacts/contactForm?id=0}" id="addbutton" name="addbutton">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ><span class="glyphicon glyphicon-user"
                                                                             aria-hidden="true"></span> Add contact
        </button>
    </a>

    <form th:action="@{/logout}" method="POST">
        <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out"
                                                                             aria-hidden="true"></span> Logout
        </button>
    </form>
</div>


</body>
</html>